In [1]:
#Q-1. Convert an integer to a floating-point number.

In [2]:
a = 3

In [3]:
type(a)

int

In [4]:
float(a)

3.0

In [5]:
#Q-2. Convert a float to an integer

In [ ]:
b = 3.14

In [7]:
type(b)

float

In [8]:
int(b)

3

In [9]:
#Q-3. Convert an integer to a string

In [10]:
c = 46

In [11]:
type(c)

int

In [12]:
str(c)

'46'

In [13]:
#Q-4. Convert a list to a tuple

In [14]:
L = [1, 2, 3, "gaurav", "pw"]

In [15]:
t = tuple(L)

In [16]:
print(t)

(1, 2, 3, 'gaurav', 'pw')

In [17]:
#Q-5. Convert a tuple to a list

In [18]:
t = (4, 5, 6, "sagar")

In [19]:
l = list(t)

In [26]:
print(l)

[4, 5, 6, 'sagar']